.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 500px;
}
.containerEmpty {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  min-height: 500px;

  justify-content: center;
}
.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.title {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin: 2rem;
}
.itemLabels {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  /* box-shadow: ; */
}
.horizontalLine {
  width: 90%;
  height: 1px;
  background-color: #000;
}
.emptyCartContaier {
  align-self: center;
  justify-self: center;
}
.emptyMessage {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 700;
}
.shopNow {
  text-align: center;
  font-size: 1.5rem;
  text-decoration: underline;
  font-weight: 300;
}

/* .cart {
  display: flex;
  flex-direction: column;
}

.cartCard {
  display: flex;
  flex-direction: row;
}
.img {
  width: 10%;
} */
