.container {
  width: 100%;
  /* height: 30rem; */
}
.textAndPhoto {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f2efee;
  width: 100%;
  height: 30rem;
}
.textContainer {
  width: 40rem;
  display: flex;
  justify-content: center;
  /* background-color: yellow; */
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  /* height: 20rem; */
  padding: 3rem;
}
.header {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 4px;
}
.blurb {
  font-size: 1rem;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.5;
}
.imgContainer {
  flex-grow: 1;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* clip-path: inset(10% 0 10% 0); */
}

.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}
@media (max-width: 430px) {
  .textAndPhoto {
    flex-direction: column;
    height: auto;
  }
  .textContainer {
    width: 90%;
    order: 2;
  }
  .text {
    padding: 2.5rem;
  }
  .imgContainer {
    order: 1;
  }
}
