/* .container {
  margin: 500px;
} */
.container {
  width: 100%;
}
.bannerImage {
  width: 100%;
}

.consumerImage,
.minimalismImage,
.sustainableImage {
  width: 30rem;
  /* width: 60%; */
}
/* .minimalismImage {
  width: 200px;
}
.sustainableImage {
  width: 200px;
} */

.aboutSection {
  /* margin: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  margin-top: 3rem;
  margin-bottom: 3rem;
  gap: 7.5rem;
}

.picAndText {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.text {
  max-width: 30rem;
}
.consumeBtn {
  /* text-decoration: none; */
  background-color: black;
  color: white;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 10px;

  transition: transform 0.2s ease-out 0s;
  /* transition:  */
}
.consumeBtn:hover {
  /* background-color: red; */
  transform: scale(1.05);
  text-decoration: underline;
}
.buttonLink {
  text-decoration: none;
}

.headline {
  font-size: 3rem;
  font-weight: bold;
  /* text-align: right; */
}
.description {
  font-size: 1.5rem;
  font-style: italic;
}
.textOdd {
  text-align: right;
}
.textEven {
  text-align: left;
}

@media (max-width: 500px) {
  .container {
    /* width: 500px; */
    /* width: 100vw; */
  }
  .picAndText {
    flex-direction: column;
  }
  .picAndTextEven {
    flex-direction: column-reverse;
    /* This reverses the order of the column so that text comes first */
  }
  .text {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
