.outerContainer {
  display: flex;
  flex-direction: column;
  background-color: yellow;
  width: 100%;
  /* height: 10rem; */
  margin: 0;
  justify-content: center;
  align-items: center;
  position: sticky;
  /* top: 0; */
  transition: background-color 0.3s ease;
}
.container {
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  width: 100%;
  /* height: 10rem; */
  margin: 0;
  justify-content: center;
  align-items: center;
  /* position: sticky; */
  /* top: 0; */
  transition: background-color 0.3s ease;
}
.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.spacer {
  /* flex-grow: 1; */
  width: 50px;
}
.menuBtn {
  background-color: black;
  all: unset;
  /* removes all default button styling */
}
.titleLink {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-grow: 1; */

  /* margin: 0; */
}
/* .titleLink:hover {
} */
.topTitle,
.bottomTitle {
  margin: 0;
  text-align: center;
}
.topTitle {
  letter-spacing: 8px;
  /* font-weight: 900; */
}
.bottomTitle {
  /* font-weight: 100; */
  letter-spacing: 4px;
  font-size: 1rem;
}
.shoppingBag {
  width: 50px;

  /* flex: none; */
  /* position: absolute; */
  /* right: 0; */
  /* flex-grow: 1; */
  position: relative;
}
.itemCount {
  position: absolute;
  top: 35px;
  /* right: 60px; */
  left: 30px;

  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}
.itemCountBackground {
  background-color: white;
  color: black;
}
.scrolled {
  background-color: black;
  /* position: sticky; */
  /* top: 0; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  color: white;
  box-sizing: border-box;
  /* padding: 20px; */
  /* fontsize: */
  /* display: flex;
  flex-direction: column; */
}
.scrolledOuter {
  background-color: black;
  /* position: sticky; */
  top: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  color: white;

  box-sizing: border-box;
  /* padding: 20px; */
}
.scrolledInner {
  /* display: flex;
  flex-direction: row; */
  display: contents;
  /* background-color: red; */
}
.scrolledText {
  color: white;
}
.scrolledBag {
  order: 3;
  /* order: 100; */
  /* position: sticky;
  right: 0; */
}
.scrolledDivider {
  /* when we scroll down the divider is removed from flow of document */
  display: none;
}
.navBar {
  width: 20%;
}
.navBarBtnScrolled {
  display: none;
}
.NavBarMobile {
}
@media (min-width: 430px) {
  .navBarMobileBtn {
    display: none;
  }
}
@media (max-width: 430px) {
  .outerContainer {
    /* width: 100%; */
    /* width: 500px; */
  }
}
