.container {
  width: 100%;
  /* min-width: 500px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: #ffc038;
}
.linksAndInfo {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  /* padding-bottom: 2rem; */
}
.linkSection {
  display: flex;
  gap: 4rem;
  /* border-right: 2px solid black; */
  /* height: auto; */
}
.header {
  font-weight: bold;
  font-size: 1.25rem;
}
.divider {
  width: 2px;
  background-color: black;
}
.infoSection {
  display: flex;
  flex-direction: column;
}
.iconSection {
  display: flex;
  justify-content: space-evenly;
}
.infoHeader {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.iconAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title2 {
  font-weight: bold;
  font-size: 1.45rem;
}
.footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* gap: 5rem; */
  margin-top: 3rem;
  font-size: 0.75rem;
  padding-bottom: 1rem;
}

/* styling for mobile */
@media (max-width: 430px) {
  .container {
    width: 100%;
    align-items: center;
  }
  .linksAndInfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* order: 2; */
  }
  .linkSection {
    order: 3;
  }
  .divider {
    height: 2px;
    width: 80%;
    order: 2;
  }
  .iconSection {
    order: 1;
    gap: 0.5rem;
  }
  .iconAndText {
    justify-content: center;
    font-size: 0.9rem;
  }
  .description {
    text-align: center;
  }
  .footer {
    gap: 0.65rem;
    font-size: 0.6rem;
  }
  .linkSection {
    gap: 1rem;
    font-size: 0.8rem;
  }
  .linkColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header {
    font-size: 1rem;
  }
}
