.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: yellow;
}
.linksAndInfo {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
  /* padding-bottom: 2rem; */
}
.linkSection {
  display: flex;
  gap: 4rem;
  /* border-right: 2px solid black; */
  /* height: auto; */
}
.header {
  font-weight: bold;
  font-size: 1.25rem;
}
.divider {
  width: 2px;
  background-color: black;
}
.infoSection {
  display: flex;
  flex-direction: column;
}
.iconSection {
  display: flex;
  justify-content: space-evenly;
}
.infoHeader {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.iconAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title2 {
  font-weight: bold;
  font-size: 1.45rem;
}
.footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* gap: 5rem; */
  margin-top: 3rem;
  font-size: 0.75rem;
  padding-bottom: 1rem;
}
