.appWindow {
  width: 100vw;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
@media (max-width: 500px) {
  .appWindow {
    width: 500px;
  }
}

/* .title {
  text-decoration: none;
  width: 100vw;
  margin: 0;
}
.titleLink {
  text-decoration: none;
}
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.navLink {
  text-decoration: none;
} */
